.Synonyms {
  margin-bottom: 10px;
  padding: 0;
}
.Synonyms li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.6;
}
