.Synonyms {
  margin: 0;
  padding: 0;
  text-align: center;
}
.Synonyms li {
  list-style: none;
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 700;
  font-style: italic;
  opacity: 0.8;
}
